<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pinterest-v1</title>

   
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

        <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <!-- Custom styles for this template -->
    <link href="static/main.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>    
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif;
}

.w3-bar-block .w3-bar-item {padding:20px}
#favButton {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
</style>
<script>
            $(function() {
                    $('#searchButton').click(function() {
                        var searchItem = $('#searchItem').val();
                        $.ajax({
                            url: '/searchItem',
                            data: {searchItem: searchItem},
                            type: 'POST',
                            success: function(response) {
                                $('.well').empty();
                                var data = JSON.parse(response);
                                var div = $('<div>').attr('class','row');
                                for(var i = 0; i < response.length; i++) {
                                    div.append(CreateThumb(data[i].Id, data[i].Title, data[i].Description, data[i].FilePath, data[i].Like, data[i].HasLiked, data[i].isFavorite, data[i].Username, data[i].DateUpload));
                                    $('.well').append(div);
                                }
                            },
                            error: function(error) {
                                console.log(error);
                            }
                        });
                });
            });

				$(function() {
                    $('#favButton').click(function() {
                      
                        $.ajax({
                            url: '/favItem',
                            
                            type: 'GET',
                            success: function(response) {
                                console.log(response);
                                $('.well').empty();
                                var data = JSON.parse(response);
                                var div = $('<div>').attr('class','row');
                                for(var i = 0; i < response.length; i++) {
                                    div.append(CreateThumb(data[i].Id, data[i].Title, data[i].Description, data[i].FilePath, data[i].Like, data[i].HasLiked, data[i].isFavorite, data[i].Username, data[i].DateUpload));
                                    $('.well').append(div);
                                }
                            },
                            error: function(error) {
                                console.log(error);
                            }
                        });
                });
            });


    </script>
        <script>
        $(function(){
                $.ajax({
                    url: '/getAllItems',
                    type: 'GET',
                    success:function(response) {
                    var data = JSON.parse(response);
                    var itemsPerRow = 0;
                    var div = $('<div>').attr('class','row');
                    for(var i=0;i<data.length;i++){
                            if(i==data.length-1){
                                div.append(CreateThumb(data[i].Id,data[i].Title,data[i].Description,data[i].FilePath, data[i].Like, data[i].HasLiked, data[i].isFavorite,data[i].Username, data[i].DateUpload));
                                $('.well').append(div);
                            }
                            else{
                            div.append(CreateThumb(data[i].Id,data[i].Title,data[i].Description,data[i].FilePath, data[i].Like, data[i].HasLiked, data[i].isFavorite,data[i].Username, data[i].DateUpload));
                          
                            }
                  
                    }
                    
                    },
                    error:function(error){
                        console.log(error);
                    }
                });
            $(document).on('click','[id^="btn_"]',function(){
                var spId = $(this).attr('id').split('_')[1];
                $.ajax({
                    url: '/addUpdateLike',
                    method: 'POST',
                    data: {wish:$(this).attr('id').split('_')[1],like:1},
                    success: function(response){
                         var obj = JSON.parse(response);
 
                                    if (obj.likeStatus == "1") {
                                        $('#span_' + spId).html('&nbsp;You & ' + (Number(obj.total) - 1) + ' Others');
                                    } else {
                                        $('#span_' + spId).html('&nbsp;' + obj.total + ' like(s)');
                                    }
                    },
                    error: function(error){
                        console.log(error);
                    }
                });
            });
        })
        function CreateThumb(id, title, desc, filepath, like, hasLiked, isFavorite, Username, DateUpload) {

            var mainDiv = $('<div>').attr('class', 'col-sm-4 col-md-4');
            var thumbNail = $('<div>').attr('class', 'thumbnail');
            var img = $('<img>').attr({
                'src': filepath,
                'data-holder-rendered': true,
                'style': 'height: 150px; width: 150px; display: block'
            });
            var caption = $('<div>').attr('class', 'caption');
            var title = $('<h3>').text(title);
            var desc = $('<p>').text(desc);
         
         
            var p = $('<p>');
            var btn = $('<button>').attr({
                'id': 'btn_' + id,
                'type': 'button',
                'class': 'btn btn-danger btn-sm'
            });
            var span = $('<span>').attr({
                'class': 'glyphicon glyphicon-thumbs-up',
                'aria-hidden': 'true'
            });
            
            var likeSpan = $('<span>').attr({'aria-hidden':'true','id':'span_'+id});

            var userSpan = $('<span>').attr({'aria-hidden':'true','id':'span_'+Username});
            userSpan.html('<b>' +Username+'<b>');
         
            var dateSpan = $('<span>').attr({'aria-hidden':'true','id':'span_'+DateUpload});
            dateSpan.html(DateUpload);
            if (hasLiked == "1") {
                    likeSpan.html('&nbsp;You & ' + (Number(like) - 1) + ' Others');
                } else {
                    likeSpan.html('&nbsp;' + like + ' like(s)');
                }

  
            if (isFavorite == "1") {
                    var span2 = $('<span style="font-size:20px;">').attr({
                'class': 'glyphicon glyphicon-star text-warning fa-5x',
                 
                'aria-hidden': 'true'
                });
                    p.append(span2);
                } 

            p.append(btn.append(span));
            p.append(likeSpan);
            p.append('<br>');
            p.append('<br>');
            p.append('Uploaded by: ');
            p.append(userSpan);
            p.append('<br>');
            p.append('Date: ');
            p.append(dateSpan);


         
         
            caption.append(title);
            caption.append(desc);
            caption.append(p);
         
            thumbNail.append(img);
            thumbNail.append(caption);
            mainDiv.append(thumbNail);
            return mainDiv;
        }
    </script>

    <style>
    .btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
    </style>
   
  </head>

  <body>
  <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark  fixed-top ">
      <div class="container">
        <a class="navbar-brand" href="#">Pinterest-v1</a>
      <div class="col-lg-4">
         <div class="input-group">
                <input type="text" class="form-control" name="searchItem"  id="searchItem" placeholder="Search here"  rows="1" cols="25" required autofocus>
                 <span class="input-group-btn">
            <button type="button" class="btn btn-default btn-sm" >
            <span id ="searchButton" class="glyphicon glyphicon-search" >Search</span>
            </button>
             </span>
        </div>
        </div >
       
         
        
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">Dashboard
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/userHome">My List</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/showAddWish">Add Item</a>
            </li>
              <li class="nav-item">
              <a class="nav-link" href="/logout">Logout</a>
            </li>
            
          </ul>
        </div>
      </div>
    </nav>
  

<div class="well">
<center><button id="favButton" class="favButton" >Show only favorites</button></center>
<br>
</div>
    

    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Supersonic 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    </div>
  </body>
</html>