<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pinterest-v1</title>
 
    
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
    <link href="/static/signup.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="static/main.css" rel="stylesheet">
    <!-- <link href="signup.css" rel="stylesheet"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Karma">
<style>
body,h1,h2,h3,h4,h5,h6 {font-family: "Karma", sans-serif}
.w3-bar-block .w3-bar-item {padding:20px}
</style>
    <script>
			$(function() {
				    $('#btnSignUp').click(function() {
				 		var inputName = $('#inputName').val();
				 		var inputEmail = $('#inputEmail').val();
        				var inputPassword = $('#inputPassword').val();
				        $.ajax({
				            url: '/signUp',
				            data: $('form').serialize(),
				            type: 'POST',
				            success: function(response) {
				                console.log(response);
				            },
				            error: function(error) {
				                console.log(error);
				            }
				        });
    			});
			});
    </script>
  </head>
 
  <body>
 
     <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Pinterest-v1</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="showSignin">Sign In</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href="showSignUp">Sign Up

                <span class="sr-only">(current)</span></a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  
 
      <div class="jumbotron">
        <center> <h4>Media Sharing Platform </h4></center>
       
        <form class="form-signin">
        <label for="inputName" class="sr-only">Name</label>
        <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>
         
        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="button">Sign up</button>
		
      </form>
      </div>
 
       
 
       <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Supersonic 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    </div>
  </body>
</html>